<div class="columns">
  <div class="column is-6 is-offset-3">
    <nav class="breadcrumb is-large" aria-label="breadcrumbs">
      <ul>
        <li class="is-active">
          <a href="#" aria-current="page">Playlist by City's weather</a>
        </li>
      </ul>
    </nav>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child notification" style="background-color: white;">
          <form [formGroup]="formGroup1" autocomplete="off">
            <div class="field">
              <label class="label">City&nbsp;
                <span class="required">*</span>
              </label>
              <div class="control">
                <input class="input" type="text" formControlName="cityName" [class.is-danger]="inputCityName.invalid && (inputCityName.dirty || inputCityName.touched)"
                />
              </div>
              <div *ngIf="inputCityName.invalid && (inputCityName.dirty || inputCityName.touched)">
                <p *ngIf="inputCityName.errors.required" class="help is-danger">City is required</p>
                <p *ngIf="inputCityName.errors.maxlength" class="help is-danger">City should be 50 characters maximum</p>
              </div>
            </div>
            <div class="field">
              <label class="label">Country</label>
              <div class="control">
                <input class="input" type="countryCode" formControlName="countryCode" [class.is-danger]="inputCountryCode.invalid && (inputCountryCode.dirty || inputCountryCode.touched)"
                />
              </div>
              <div *ngIf="inputCountryCode.invalid && (inputCountryCode.dirty || inputCountryCode.touched)">
                <p *ngIf="inputCountryCode.errors.minlength" class="help is-danger">Country should be 2 characters minimum</p>
                <p *ngIf="inputCountryCode.errors.maxlength" class="help is-danger">Country should be 2 characters maximum</p>
              </div>
            </div>
            <hr />
            <div class="field is-grouped">
              <div class="control">
                <button type="submit" class="button is-primary" (click)="search()" [disabled]="loading || !formGroup1.valid">Search</button>
              </div>
              <div class="control">
                <button type="reset" class="button" (click)="reset()">Reset</button>
              </div>
            </div>
          </form>
          <div *ngIf="suggestion">
            <hr /> {{ suggestion | json }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
