<div class="columns">
  <div class="column is-6 is-offset-3">
    <nav class="breadcrumb is-large" aria-label="breadcrumbs">
      <ul>
        <li class="is-active">
          <a href="#" aria-current="page">Playlist by City's weather</a>
        </li>
      </ul>
    </nav>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child notification" style="background-color: white;">
          <!--
          <form [formGroup]="formGroup1" autocomplete="off">
            <div class="field">
              <label class="label">E-mail&nbsp;
                <span class="required">*</span>
              </label>
              <div class="control">
                <input class="input" type="text" placeholder="Informe seu e-mail" formControlName="email" [class.is-danger]="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)"
                  #formGroup1_email maxlength="50" />
              </div>
              <div *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)">
                <p *ngIf="inputEmail.errors.required" class="help is-danger">E-mail é obrigatório</p>
                <p *ngIf="inputEmail.errors.email" class="help is-danger">E-mail é inválido</p>
              </div>
            </div>
            <div class="field">
              <label class="label">Senha&nbsp;
                <span class="required">*</span>
              </label>
              <div class="control">
                <input class="input" type="password" placeholder="Informe sua senha" formControlName="senha" [class.is-danger]="inputSenha.invalid && (inputSenha.dirty || inputSenha.touched)"
                  autocomplete="new-password" />
              </div>
              <div *ngIf="inputSenha.invalid && (inputSenha.dirty || inputSenha.touched)">
                <p *ngIf="inputSenha.errors.required" class="help is-danger">Senha é obrigatório</p>
              </div>
            </div>
            <hr />
            <div class="field is-grouped">
              <div class="control">
                <button type="submit" class="button is-primary" (click)="login()" [disabled]="loading || !formGroup1.valid">Entrar</button>
              </div>
              <div class="control">
                <button type="reset" class="button" (click)="reset()">Limpar</button>
              </div>
            </div>
          </form>
        -->
        </div>
      </div>
    </div>
  </div>
</div>
