<div class="columns">
  <div class="column is-6 is-offset-3">
    <nav class="breadcrumb is-large" aria-label="breadcrumbs">
      <ul>
        <li class="is-active">
          <a href="#" aria-current="page">Playlist by Latitude and Longitude's weather</a>
        </li>
      </ul>
    </nav>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child notification" style="background-color: white;">
          <form [formGroup]="formGroup1" autocomplete="off">
            <div class="field">
              <label class="label">Latitude&nbsp;
                <span class="required">*</span>
              </label>
              <div class="control">
                <input class="input" type="text" formControlName="latitude" [class.is-danger]="inputLatitude.invalid && (inputLatitude.dirty || inputLatitude.touched)"
                />
              </div>
              <div *ngIf="inputLatitude.invalid && (inputLatitude.dirty || inputLatitude.touched)">
                <p *ngIf="inputLatitude.errors.required" class="help is-danger">Latitude is required</p>
              </div>
            </div>
            <div class="field">
              <label class="label">Longitude&nbsp;
                <span class="required">*</span>
              </label>
              <div class="control">
                <input class="input" type="text" formControlName="longitude" [class.is-danger]="inputLongitude.invalid && (inputLongitude.dirty || inputLongitude.touched)"
                />
              </div>
              <div *ngIf="inputLongitude.invalid && (inputLongitude.dirty || inputLongitude.touched)">
                <p *ngIf="inputLongitude.errors.required" class="help is-danger">Longitude is required</p>
              </div>
            </div>
            <hr />
            <div class="field is-grouped">
              <div class="control">
                <button type="submit" class="button is-primary" (click)="search()" [disabled]="loading || !formGroup1.valid">Search</button>
              </div>
              <div class="control">
                <button type="reset" class="button" (click)="reset()">Reset</button>
              </div>
            </div>
          </form>
          <div *ngIf="suggestion">
            <hr /> {{ suggestion | json }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
