<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <img src="assets/logo.png" width="112" height="28" />
    </div>
  </div>
  <div class="navbar-menu is-active">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/playlist/weather/city" routerLinkActive="is-active">
        Playlist by City's weather
      </a>
      <a class="navbar-item" routerLink="/playlist/weather/lat-lon" routerLinkActive="is-active">
        Playlist by Latitude and Longitude's weather
      </a>
    </div>
  </div>
</nav>
